<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body style="background-image:url('{% get_static_prefix %}images/darkBG.jpg'); background-repeat: no-repeat; background-size: 100vw 100vh;">
    <div style="padding-top: 200px;">
        <h1 style="color:rgb(243, 242, 240);font-size:40px;; text-align:center;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">SITE UNDER CONSTRUCTION</h1>
        <h1 style="color:rgb(138, 140, 141) ; text-align: center;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">COMING SOON</h1>
        <h1 style="color:rgb(96, 95, 96); text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Countdown begins, we are about to take off.</h1>
    </div>
</body>
</html>