{% extends 'base.html' %}
{% block title%}
New Base
{% endblock title %}
{% block content %}
            {% for i,j,k,a,l,m in data %}

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{i}}</strong>
                    <h3 class="mb-0">{{j}}</h3>
                    <div class="mb-1 mt-1 text-muted">
                        <p style ="color:rgb(15, 65, 74)">
                            {{k}}
                        </p>
                    </div>
                    <p class="card-text mb-auto">{{a}}</p>
                    <a href={{m}} style="text-decoration: none;" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250"
                        src={{l}} alt="">
                </div>
            </div>

            {% endfor %}


<div style = "margin-bottom: 24px;"class="container">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2 gap-3" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary">1</button>
            <button type="button" class="btn btn-primary ">2</button>
            <button type="button" class="btn btn-primary ">3</button>
            <button type="button" class="btn btn-primary ">4</button>
            <button type="button" class="btn btn-success pd-14">Next</button>
        </div>
    </div>
</div>


{% endblock content %}